.popup__button-save {
  margin: 0;
  padding: 0;
  border: none;
  color: white;
  background-color: black;
  height: 50px;
  border-radius: 2px;
  font-size: 19px;
  line-height: 22px;
  outline: none;
}

.popup__button-save:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: opacity 0.5s linear 0s;
}
