.profile__button-edit-avatar {
  position: relative;
  width: 120px;
  height: 120px;
  min-width: 120px;
  border: 0;
  border-radius: 50%;
  box-sizing: border-box;
  background: #000;
  cursor: pointer;
  padding: 0;
}

.profile__button-edit-avatar:focus {
  outline: none;
}


