.footer {
  padding: 0 0 60px;
  flex-basis: calc(100% - 200px * 2);
  color: #545454;
}

@media screen and (max-width: 1045px) {
  .footer {
    flex-basis: calc(100% - 100px * 2);
  }
}

@media screen and (max-width: 866px) {
  .footer {
    flex-basis: calc(100% - 50px * 2);
  }
}

@media screen and (max-width: 765px) {
  .footer {
    padding: 0 0 36px;
    flex-basis: calc(100% - 19px * 2);
  }
}
