.popup__button-cancel {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../../../images/button-cancel.svg');
  background-position: center;
  width: 40px;
  height: 40px;
  outline: none;
  background-repeat: no-repeat;
  grid-area: popup__button-cancel;
  }

.popup__button-cancel:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.5s linear 0s;
}

@media screen and (max-width: 510px) {
  .popup__button-cancel {
    width: 26px;
    height: 26px;
    background-size: 150%;
    justify-self: end;
  }
}
