.popup__error {
  visibility: hidden;
  margin-top: 5px;
  padding: 0;
  color: rgb(255, 0, 0);
  font-size: 12px;
  line-height: 15px;
  min-height: 15px;
}

.popup__error:last-of-type {
  margin-bottom: 38px;
}
