.profile__button-edit {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: black;
  background-image: url('../../../images/button-edit.svg');
  width: 24px;
  height: 24px;
  outline: none;
}

.profile__button-edit:hover {
  opacity: 0.6;
  transition: opacity 0.5s linear 0s;
  cursor: pointer;
}

@media screen and (max-width: 432px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    background-size: cover;
  }
}
