.header {
  padding: 45px 0 41px;
  flex-basis: calc(100% - 200px * 2);
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1045px) {
  .header {
    flex-basis: calc(100% - 100px * 2);
  }
}

@media screen and (max-width: 866px) {
  .header {
    flex-basis: calc(100% - 50px * 2);
  }
}

@media screen and (max-width: 765px) {
  .header {
    padding: 28px 0 32px 27px;
    flex-basis: 100%;
  }
}
